<div>
  <div>
    <h2>
      Pitches
    </h2>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new pitch
    </h2>

    <form action="/insert_pitch" method="post">
      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" required>
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" required>
      </div>
      
      <% if current_user.present? %>
        <input type="hidden" name="query_user_id" value="<%= current_user.id %>">
      <% end %>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <button>
        Create pitch
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Name
        </th>

        <th>
          Address
        </th>

        <th>
          Image
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_pitches.each do |a_pitch| %>
      <tr>

        <td>
          <%= a_pitch.name %>
        </td>

        <td>
          <%= a_pitch.address %>
        </td>

        <td>
          <% if a_pitch.image.present? %>
            <img src="<%= a_pitch.image %>" style="max-width: 300px; max-height: 300px;">
          <% else %>
            <p>No Image<p>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(a_pitch.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_pitch.updated_at) %> ago
        </td>

        <td>
          <a href="/pitches/<%= a_pitch.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
  <h2>About us</h2>
  <div>
    We believe in connecting football/soccer players to the beautiful game they love. Everyone deserves a pitch to play on.
  </div>
