<div>
  <div>
    <h1>
      Pitch #<%= @the_pitch.id %> details
    </h1>

    <div>
      <div>
        <a href="/pitches">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_pitch/<%= @the_pitch.id %>">
          Delete pitch
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Address
      </dt>
      <dd>
        <%= @the_pitch.address %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_pitch.name %>
      </dd>

      <dt>
        User Email
      </dt>
      <dd>

        <% matching_users = User.where({ :id => @the_pitch.user_id }) %>

        <%= matching_users.at(0).email %>

      </dd>

      <dt>
        Image
      </dt>
      
      <dd>
        <%= @the_pitch.image %>
      </dd>
      
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_pitch.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_pitch.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<% if current_user.id == @the_pitch.user_id%>
  <div>
    <div>
      <h2>
        Edit pitch
      </h2>

      <form action="/modify_pitch/<%= @the_pitch.id %>"  method="post" >
        <div>
          <label for="address_box">
            Address
          </label>

          <input type="text" id="address_box" name="query_address" value="<%= @the_pitch.address %>">
        </div>

        <div>
          <label for="name_box">
            Name
          </label>

          <input type="text" id="name_box" name="query_name" value="<%= @the_pitch.name %>">
        </div>

        <div>
          <label for="user_id_box">
            User
          </label>

          <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_pitch.user_id %>">
        </div>

        <div>
          <label for="image_box">
            Image
          </label>

          <input type="text" id="image_box" name="query_image" value="<%= @the_pitch.image %>">
        </div>

        <button>
          Update pitch
        </button>
      </form>
    </div>
  </div>
<% end %>

<hr>

<h2>
  Add a new post
</h2>

<form action="/insert_post" method="post">
  <div>
    <label for="title_box">
      Title
    </label>

    <input type="text" id="title_box" name="query_title">
  </div>

  <div>
    <label for="body_box">
      Body
    </label>

    <textarea id="body_box" name="query_body" rows="3"></textarea>
  </div>

  <input type="hidden" id="board_id_box" name="query_board_id" value="<%= @the_pitch.id %>">

  <button>
    Add post
  </button>
</form>

<hr>

<h2>Active posts</h2>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
  </tr>

  <% @matching_posts.each do |a_post| %>
    <tr>
      <td><%= a_post.title %></td>
      <td><%= a_post.body %></td>
      <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
    </tr>
  <% end %>
</table>
