<!DOCTYPE html>
<html>

<style>
  nav {
    display: flex;
    justify-content: space-between;
  }

  nav h1 {
    margin: 0; /* Remove default margin from h1 */
  }

  nav h3 {
    text-align: right;
    margin: 0; /* Remove default margin from h3 */
  }
</style>


  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
    <h1><a href="/">Pitch</a></h1>
    <% if current_user.present? %>
      <h3><a href="/users/edit">Edit profile</a></h3>
      <h3><a href="/users/sign_out">Sign out</a></h3>
    <% else %>
      <h3><a href="/users/sign_in">Sign in</a></h3>
      <h3><a href="/users/sign_up">Sign up</a></h3>
    <% end %>
    </nav>

    <hr>

    <%= yield %>
  </body>

</html>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
